# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# mypy / ruff / pytest
.mypy_cache/
.ruff_cache/
.pytest_cache/

# macOS
.DS_Store

# Project-specific
results/
testdata/

*__tracked_surface.stl
